<?php
$title = 'Publish news';
$this->headTitle($title);
?>

<script>
$(function(){
    $('input[name="dateCreated"]').datepicker({ dateFormat: 'yy-mm-dd' });
});
</script>

<h1><?php echo $this->escapeHtml($title); ?></h1>
<a href="<?php echo $this->url('admin_news', array('action' => 'index')) ?>">Back to news</a>

<?php
$form->setAttribute('action', $this->url('admin_news', array('action' => 'create')));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formHidden($form->get('id'));
echo $this->formRow($form->get('title'));
echo $this->formRow($form->get('themeId'));
echo $this->formRow($form->get('dateCreated'));
echo $this->formRow($form->get('content'));
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag ();