<?php
// news\index.phtml

$title = 'News';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<ul>
    <li><a href="<?php echo $this->url('admin_news', array('action' => 'create')) ?>">Publish news</a></li>
</ul>

<?php if (count($news)) { ?>
    <table class="table">
        <thead>
            <tr>
                <td>id</td>
                <td>Theme</td>
                <td>Date created</td>
                <td>Title</td>
                <td>-</td>
            </tr>
        </thead>
        <tbody>
            <?php foreach($news as $news_record) { ?>
                <tr>
                    <td><?php echo $this->escapeHtml($news_record->id); ?></td>
                    <td><?php echo $this->escapeHtml($news_record->theme); ?></td>
                    <td><?php echo $this->escapeHtml($news_record->dateCreated); ?></td>
                    <td><?php echo $this->escapeHtml($news_record->title); ?></td>
                    <td>
                        <a href="<?php echo $this->url('admin_news', array('action' => 'edit', 'id' => $news_record->id)) ?>">Edit</a>
                        <a href="<?php echo $this->url('admin_news', array('action' => 'delete', 'id' => $news_record->id)) ?>">Delete</a>
                    </td>
                </tr>
            <?php } ?>
        </tbody>
    </table>
<?php }else{ ?>
    <p>There is no news available</p>
<?php } ?>