<?php
// required: categories_by_date, categories_by_theme
$categories_by_date;
$categories_by_theme;
?>
<h3>By date</h3>
<ul>
    <?php
    $category_years = array_keys($categories_by_date);
    sort($category_years);

    foreach ($category_years as $year) { ?>
        <li>
            <a href="<?php echo $this->url('client_news_index_category', array('category' => $year)); ?>"><?php echo $this->escapeHtml($year); ?></a>
            <ul>
                <?php
                $mCategories = $categories_by_date[$year];
                ksort($mCategories);

                foreach ($mCategories as $month => $num) { ?>
                    <li>
                        <?php
                        // link url
                        $linkParams = array(
                            'category' => $month.'-'.$year
                        );
                        $linkUrl = $this->url('client_news_index_category', $linkParams);

                        // link title
                        $linkTitle = date('M', mktime(0, 0, 0, $month, 1)).($num ? '('.$num.')' : null);
                        ?>
                        <a href="<?php echo $this->escapeHtml($linkUrl); ?>"><?php echo $this->escapeHtml($linkTitle); ?></a>
                    </li>
                <?php } ?>
            </ul>
        </li>
    <?php } ?>
</ul>

<h3>By theme</h3>
<ul>
    <?php foreach ($categories_by_theme as $category) { ?>
        <li>
            <?php
            // link url
            $linkParams = array(
                'themeId' => $category['themeId']
            );
            $linkUrl = $this->url('client_news_index_theme', $linkParams);

            // link title
            $num = $category['news'];
            $linkTitle = $category['theme'].($num ? '('.$num.')' : null);
            ?>
            <a href="<?php echo $this->escapeHtml($linkUrl); ?>"><?php echo $this->escapeHtml($linkTitle); ?></a>
        </li>
    <?php } ?>
</ul>