<?php
// news\index.phtml

$title = 'News';

if ($category) {
    $title .= '('.$category.')';
}

if($page > 1) {
    $title .= ' - page '.$page;
}

$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<section class="news">
    <nav>
        <?php echo $this->render('client/news/categories'); ?>
    </nav>
    <div>
        <?php if (count($news)) { ?>
            <?php foreach($news as $news_record) { ?>
                <article class="news news-preview">
                    <header>
                        <hgroup>
                            <h1><a href="<?php echo $this->url('client_news', array('action' => 'view', 'id' => $news_record->id)) ?>"><?php echo $this->escapeHtml($news_record->title); ?></a></h1>
                            <h2><?php echo $this->escapeHtml($news_record->theme); ?></h2>
                            <time><?php echo $this->escapeHtml($news_record->dateCreated); ?></time>
                        </hgroup>
                    </header>
                    <p>
                        <?php
                        echo $this->escapeHtml($news_record->getContentPreview());

                        if ($news_record->hasShortContent()) { ?>
                            ... <a href="<?php echo $this->url('client_news', array('action' => 'view', 'id' => $news_record->id)) ?>">(Read more)</a>
                        <?php } ?>
                    </p>
                </article>
            <?php } ?>

            <div class="pagination">
                <h5>Pages</h5>
                <ul>
                    <?php for ($p = 1; $p <= $news_count; $p++) { ?>
                        <?php
                        // link url
                        $linkParams = array(
                            'page' => $p
                        );

                        if ($category) {
                            $linkUrl = $this->url('client_news_index_category_page', array('page' => $p, 'category' => $category));
                        }else{
                            $linkUrl = $this->url('client_news_index', array('page' => $p));
                        }
                        ?>
                        <li><a href="<?php echo $linkUrl; ?>"><?php echo (int) $p; ?></a></li>
                    <?php } ?>
                </ul>
            </div>
        <?php }else{ ?>
            <p>There is no news available</p>
        <?php } ?>
    </div>
</section>