<?php
// news\index.phtml

$title = $news_record->title;
$this->headTitle($title);
?>

<h1><?php echo $this->escapeHtml($title); ?></h1>

<section class="news">
    <nav>
        <?php echo $this->render('client/news/categories'); ?>
    </nav>
    <div>
    <article class="news">
        <header>
            <hgroup>
                <header>
                    <hgroup>
                        <time><?php echo $this->escapeHtml($news_record->dateCreated); ?></time>
                    </hgroup>
                </header>
                <p>
                    <?php echo $this->escapeHtml($news_record->content); ?>
                </p>
            </hgroup>
        </header>
    </article>


    <footer>
        <a href="<?php echo $this->url('client_news', array('action' => 'index')) ?>">Back to news</a>
    </footer>
    </div>
</section>