body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

form.form-horizontal label {
    display: block;
    margin-bottom: 1em;
}

form.form-horizontal label>span {
    display: inline-block;
    width:200px;
    text-align: right;
    padding-right: 10px;
}

section.news {
    display: block;
    position: relative;
}

section.news>nav {
    width:20%;
    float:left;
}

section.news>div {
    width:80%;
    float:left;
}

article.news {
    margin-bottom: 3em;
}

article.news header {
    margin-bottom: 1em;
}

article.news header h1,h2 {
    margin:0;padding:0;
}

article.news header h1 {
    font-size:1.5em;
}

article.news header h2 {
    font-size:1em;
    font-weight: bold;
}

textarea {
    width: 400px;
    height: 180px;
}